@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bungee+Spice&family=Foldit:wght@100..900&family=Gugi&family=Noto+Color+Emoji&family=Play:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.AboutDiv {
  width: 80%;
  background: linear-gradient(
    90deg,
    rgba(9, 100, 121, 1) 10%,
    rgba(0, 28, 36, 1) 57%
  );
  border: 5px solid white;
  border-radius: 10px;
  margin: 3em auto;
  text-align: center;
  justify-content: center;
  padding: 2em;
  box-shadow: 5px 5px 30px 10px rgba(0, 0, 0, 0.5);
}

.AboutImg img {
  width: 30%;
}
._1img img{
    width: 200px;
}
._2img {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
._2img img{
    width: 250px;
    border: 2px solid white;
    border-radius: 50%;
box-shadow: 5px 5px 10px 0 black;
}
.AboutImg {
  display: flex;
  flex-direction: column;
}