@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bungee+Spice&family=Foldit:wght@100..900&family=Gugi&family=Noto+Color+Emoji&family=Play:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
.video{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top : 7em ;
    
}
.video iframe{
    display: flex;
    margin: 1em auto;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 5px;
    
}